@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

* {
  padding: 0px;
  margin: 0px;
}

@keyframes neon-flicker {
  0%,
  100% {
    opacity: 1;
    box-shadow: 0 0 10px #f6ff008a, 0 0 20px #f6ff008a;
  }
  50% {
    opacity: 1;
    box-shadow: 0 0 15px #f6ff008a, 0 0 30px #f6ff008a;
  }
}

.flicker {
  animation: neon-flicker 0.8s infinite alternate;
}

.moving-border-btn {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(var(--angle), transparent, #d0d0d0, transparent);
  animation: moveGradient 2s linear infinite;
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

@keyframes moveGradient {
  to {
    --angle: 360deg;
  }
}

.glitch {
  position: relative;
  display: inline-block;
  animation: glitch 1s infinite;
}

@keyframes glitch {
  0% {
    text-shadow: 2px 2px 0 #ff00ff, -2px -2px 0 #00ffff;
  }
  50% {
    text-shadow: -2px -2px 0 #ff00ff, 2px 2px 0 #00ffff;
  }
  100% {
    text-shadow: 2px -2px 0 #ff00ff, -2px 2px 0 #00ffff;
  }
}
