@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

* {
  padding: 0px;
  margin: 0px;
  outline: none;
}

* {
  @apply scrollbar-hide;
}

@keyframes neon-flicker {
  0%,
  100% {
    opacity: 1;
    box-shadow: 0 0 10px #00ffa3, 0 0 30px #00ffa3;
  }
  50% {
    opacity: 1;
    box-shadow: 0 0 15px #00ffa3, 0 0 40px #00ffa3;
  }
}

.flicker {
  animation: neon-flicker 0.8s infinite alternate;
}

.moving-border-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(var(--angle), transparent, #d0d0d0, transparent);
  animation: moveGradient 2s linear infinite;
}

.moving-border-card {
  background: linear-gradient(var(--angle), transparent 90%, #ffffff 90%);
  animation: moveGradient 4s linear infinite;
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

@keyframes moveGradient {
  to {
    --angle: 360deg;
  }
}

.glitch {
  position: relative;
  display: inline-block;
  animation: glitch 0.7s infinite;
}

@keyframes glitch {
  0% {
    text-shadow: 3px 3px 0 #ff0d00, -3px -3px 0 #00ffff;
  }
  25% {
    text-shadow: -3px -3px 0 #ff00ff, 3px 3px 0 #00ffff;
  }
  50% {
    text-shadow: 3px -3px 0 #0400ff, -3px 3px 0 #00ffff;
  }
  75% {
    text-shadow: -3px 3px 0 #00ff00, 3px -3px 0 #00ffff;
  }
  100% {
    text-shadow: 3px 3px 0 #ff0d00, -3px -3px 0 #00ffff;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spin {
  animation: spin 1.5s linear infinite;
}

@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(-180deg); /* Back side becomes visible */
  }
  100% {
    transform: rotateY(-360deg); /* Returns to front */
  }
}

/* Apply animation to the entire container */
.flip {
  animation: flip 2.4s linear infinite;
  transform-style: preserve-3d;
  position: relative;
}

/* Ensure back side is rotated initially */
.flip-back {
  transform: rotateY(180deg);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f2f2f2;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #66bb6a;
  border-radius: 10px;
  transition: background 0.3s;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #4caf50;
}
